
p {
  font-size: larger; /* the word largeer was spelled incorect, fixed the spelling to larger*/
}

h1 {
  font-size: 23xp; /* Fontsize needs a dash between the words, added missing dash*/ 
  color: purple;
}

.container /*fixed spelling of contianer to container*/ {
  color: red; /* colro is spelled wrong, fixed spelling to color*/
  width: 500px;
  height: 500px;
  /* background should be the same as #output */
  background-color: #f0f0f0; /* wrong color input, should be #f0f0f0 instead of #f3SupeCoolColor, added the correct color input*/
}

#output {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px; /*pudding is spelled incorectly, fixed the spelling to padding*/
  border: 1px solid #000;
  background-color: #f0f0f0;
}
